$white: #ffffff;
$white-rgb: hexToRGB($white);
$black: #000000;
$black-rgb: hexToRGB($black);

$background-primary: #f5f5f5;
$background-secondary: #111010;
$background-tertiary: #fdfdfd;

/* status colors */

$success-light: #5efc82;
$success-main: #00c853;
$success-dark: #009624;

$error-light: #ff6434;
$error-main: #dd2c00;
$error-dark: #a30000;

$warning-light: #f16709;
$warning-main: #ff6d00;
$warning-dark: #c43c00;

$info-light: #82f7ff;
$info-main: #40c4ff;
$info-dark: #0094cc;

/* brand colors */

$primary-light: #84f1ff;
$primary-main: #4cbecf;
$primary-dark: #008d9e;

$secondary-light: #8e8e8e;
$secondary-main: #616161;
$secondary-dark: #373737;

$tertiary-light: #ffff6b;
$tertiary-main: #fdd835;
$tertiary-dark: #c6a700;

/* typography colors */

$text-primary-light: #484848;
$text-primary-main: #464646;
$text-primary-dark: #000000;

$text-secondary-light: #4f5b62;
$text-secondary-main: #978d8d;
$text-secondary-dark: #000a12;

$text-tertiary-light: #81a0df;
$text-tertiary-main: #5072ad;
$text-tertiary-dark: #1a477d;

$text-primary-invert-light: #ffffff;
$text-primary-invert-main: #ffffff;
$text-primary-invert-dark: #ffffff;

$text-secondary-invert-light: #ffffff;
$text-secondary-invert-main: #c0c0c0;
$text-secondary-invert-dark: #ffffff;

/* border colors */

$border-primary-light: #ffffff;
$border-primary-main: #e4e7e7;
$border-primary-dark: #b2b5b5;
