$white: #ffffff;
$white-rgb: hexToRGB($white);
$black: #000000;
$black-rgb: hexToRGB($black);

$background-primary: $white;
$background-secondary: #111010;
$background-tertiary: #fdfdfd;

/* status colors */

$success-light: #5efc82;
$success-main: #00c853;
$success-dark: #3ba2b1;

$error-light: #ec7770;
$error-main: #dd3a31;
$error-dark: #a7302a;

$warning-light: #f16709;
$warning-main: #ff6d00;
$warning-dark: #c43c00;

$info-light: #82f7ff;
$info-main: #40c4ff;
$info-dark: #0094cc;

/* brand colors */

$primary-light: #d7dadb;
$primary-main: #4cbecf;
$primary-dark: #3ba2b1;

$secondary-light: #d7dadb;
$secondary-main: $white;
$secondary-dark: #3ba2b1;

$tertiary-light: #d7dadb;
$tertiary-main: #4cbecf;
$tertiary-dark: #3ba2b1;

$primary-inverted-light: #ffffff;
$primary-inverted-main: #ffffff;
$primary-inverted-dark: #ffffff;

/* typography colors */

$text-primary-light: #978d8d;
$text-primary-main: #464646;
$text-primary-dark: #262626;

$text-secondary-light: #484848;
$text-secondary-main: #818181;
$text-secondary-dark: #000000;

$text-tertiary-light: #81a0df;
$text-tertiary-main: #5072ad;
$text-tertiary-dark: #1a477d;

$text-primary-invert-light: #ffffff;
$text-primary-invert-main: #ffffff;
$text-primary-invert-dark: #ffffff;

$text-secondary-invert-light: #ffffff;
$text-secondary-invert-main: #c0c0c0;
$text-secondary-invert-dark: #ffffff;

/* border colors */

$border-primary-light: #f9f9f9;
$border-primary-main: #e4e7e7;
$border-primary-dark: #a9a9a9;

/* other colors */
$promocode-available: #E6FFDF;
$promocode-available-text: #4E975A;
$promocode-unavailable: #FFEDF3;
$polygon-network: #8247E5;
$ethereum-network: #627EEA;
$q-network: #0B2545;
$q-network-stroke: #87FF65;
$drop-down-shadow: #b6b6b7;
$drop-down-shadow-rgb: hexToRGB($drop-down-shadow);