@font-face {
  font-family:'Jakarta';
  src: local('Jakarta'), url('./PlusJakarta/Jakarta Sans Bold Italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family:'Jakarta';
  src: local('Jakarta'), url('./PlusJakarta/Plus Jakarta Sans Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family:'Jakarta';
  src: local('Jakarta'), url('./PlusJakarta/Plus Jakarta Sans ExtraBold Italic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family:'Jakarta';
  src: local('Jakarta'), url('./PlusJakarta/Plus Jakarta Sans ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Jakarta';
  src: local('Jakarta'), url('./PlusJakarta/Plus Jakarta Sans ExtraLight Italic.woff2') format('woff2');
  font-weight: 250;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family:'Jakarta';
  src: local('Jakarta'), url('./PlusJakarta/Plus Jakarta Sans ExtraLight.woff2') format('woff2');
  font-weight: 250;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Jakarta';
  src: local('Jakarta'), url('./PlusJakarta/Plus Jakarta Sans Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family:'Jakarta';
  src: local('Jakarta'), url('./PlusJakarta/Plus Jakarta Sans Light Italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family:'Jakarta';
  src: local('Jakarta'), url('./PlusJakarta/Plus Jakarta Sans Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Jakarta';
  src: local('Jakarta'), url('./PlusJakarta/Plus Jakarta Sans Medium Italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family:'Jakarta';
  src: local('Jakarta'), url('./PlusJakarta/Plus Jakarta Sans Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Jakarta';
  src: local('Jakarta'), url('./PlusJakarta/Plus Jakarta Sans Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Jakarta';
  src: local('Jakarta'), url('./PlusJakarta/Plus Jakarta Sans SemiBold Italic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family:'Jakarta';
  src: local('Jakarta'), url('./PlusJakarta/Plus Jakarta Sans SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}